<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\ResourceModel\Region\Collection">
        <plugin name="bluethink_restrictstate_filter_Plugin" type="Bluethink\RestrictState\Plugin\StateFilter" sortOrder="1"/>
    </type>
    <type name="Magento\Directory\Helper\Data">
        <plugin name="bluethink_restrictstate_address_book_plugin" type="Bluethink\RestrictState\Plugin\RegionFilter" sortOrder="2"/>
    </type>
</config>
